<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="refresh" content="3;Home.html">
  <link rel="stylesheet" href="../styles/AgradecimentoParticipacao.css" type="text/css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Averia+Libre&display=swap">
  <title>Agradecimento Participação</title>
</head>

<body>
  <header>
    <a href="Index.html" class="sair">Sair</a>
  </header>

  <main>
    <p>Obrigado por participar da pesquisa!<br><br>Aguardamos você no próximo ano!</p>
  </main>

  <footer>
    <p>Você será redirecionado em 3 segundos...<br><br>Aguarde ou <a href="Home.html" class="sair">clique aqui</a></p>
  </footer>
</body>

</html>