<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../styles/Coleta.css" type="text/css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Averia+Libre&display=swap">
  <script src="../js/Coleta.js"></script>
  <title>Coleta</title>
</head>

<body>
  <header>
    <a href="Index.html" class="sair">Sair</a>
  </header>

  <main>
    <span>O que você achou do <span id="nome-pesq"></span>?</span>

    <div class="opcoes">
        <a href="AgradecimentoParticipacao.html" onclick="Coleta(1)" class="box">
            <span class="material-symbols-outlined" id="pessimo">sentiment_sad</span>
            <span>Péssimo</span>
        </a>
        <a href="AgradecimentoParticipacao.html" onclick="Coleta(2)" class="box">
            <span class="material-symbols-outlined" id="ruim">sentiment_dissatisfied</span>
            <span>Ruim</span>
        </a>
        <a href="AgradecimentoParticipacao.html" onclick="Coleta(3)" class="box">
            <span class="material-symbols-outlined" id="neutro">sentiment_neutral</span>
            <span>Neutro</span>
        </a>
        <a href="AgradecimentoParticipacao.html" onclick="Coleta(4)" class="box">
            <span class="material-symbols-outlined" id="bom">sentiment_satisfied</span>
            <span>Bom</span>
        </a>
        <a href="AgradecimentoParticipacao.html" onclick="Coleta(5)" class="box">
            <span class="material-symbols-outlined" id="excelente">sentiment_very_satisfied</span>
            <span>Excelente</span>
        </a>
    </div>
  </main>
</body>

</html>