<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../styles/Home.css" type="text/css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Averia+Libre&display=swap">
  <script src="../js/Home.js"></script>
  <title>Home</title>
</head>

<body>
  <header class="head">
    <a href="Home.html" class="head">
      <span class="material-symbols-outlined" id="logo">sentiment_satisfied</span>
      <h2 id="logo">Satisfying.you</h2>
    </a>
    <div class="head">
      <a href="NovaPesquisa.html" class="novapesquisa">Nova Pesquisa</a>
      <a href="Index.html" class="sair">Sair</a>
    </div>
  </header>

  <input type="search" id="pesquisa" placeholder="&#xf002; Insira o termo de busca...">

  <div id="main">
    
  </div>
</body>

</html>