<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="../styles/ModificarPesquisa.css" type="text/css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0"/>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Averia+Libre&display=swap">
  <script src="../js/ModificarPesquisa.js"></script>
  <title>Modificar Pesquisa</title>
</head>

<body>
  <header class="head">
    <a href="Home.html" class="head">
      <span class="material-symbols-outlined" id="logo">sentiment_satisfied</span>
      <span id="logo">Satisfying.you</span>
    </a>

    <div class="head">
      <a href="#popup" class="trash"><span class="material-symbols-outlined" id="trash-img">delete</span>Apagar</a>
      <div id="popup" class="popup">
        <div class="chose">
          <p>Tem certeza de apagar essa pesquisa?</p>
          <div class="op">
            <a href="Home.html" class="sim" onclick="ApagarPesquisa()">SIM</a>
            <a href="#" class="canc">CANCELAR</a>
          </div>
        </div>
      </div>

      <a href="Index.html" class="sair">Sair</a>
    </div>
  </header>

  <main>
    <form>
      <span class="tit">Atualize os dados da pesquisa</span>

      <br>
      <label for="nomepesq">Nome da pesquisa</label>
      <input type="text" id="nomepesq" class="field">

      <br>
      <label for="data">Data</label>
      <input type="date" id="data" class="field">

      <br>
      <label for="imagem">Imagem</label>
      <div class="arq">
        <input class="nome-arq" type="text" id="imagem-desc" onchange="preview()"></input>
        <label class="custom-file"><input type="file" id="imagem-car" onchange="previewcar()">Escolher arquivo</label>
      </div>
      <img id="image">

      <div class="submit">
        <a href="Home.html" onclick="ModificarPesquisa()" class="but">Salvar</a>
      </div>
    </form>
  </main>
</body>

</html>