* {
    font-family: 'Averia Libre', cursive;
    margin: 0;
}

body {
    padding: 2.5vw;
    background-color: #372775;
    color: white;
}

.head {
    font-size: 1.7vw;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    text-decoration: none;
    color: white;
}

#logo {
    font-size: 4.5vw;
}

.sair {
    color:#3F92C5;
}

main {
    margin-top: 7vw;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.bloco {
    background-color: #312464;
    border-radius: 0.7vw;
    width: 25vw;
    height: 23vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 3vw;
    text-align: center;
    text-decoration: none;
    color:white;
}

#img {
    font-size: 12vw;
}

@media (max-width: 500px) {
    main{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 2vw;
    }
}