* {
    font-family: 'Averia Libre', cursive;
    margin: 0;
}

body {
    padding: 5vh;
    background-color: #372775;
    color: white;
}

.head {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    text-decoration: none;
    color: white;
}

#logo {
    font-size: 500%;
}

.sair {
    color:#3F92C5;
    font-size: 220%;
}

main {
    width: 100%;
    margin-top: 17vh;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.bloco {
    background-color: #312464;
    border-radius: 17px;
    width: 50vh;
    height: 47vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 390%;
    text-align: center;
    text-decoration: none;
    color:white;
}

#img {
    font-size: 390%;
}