* {
    font-family: 'Averia Libre', cursive;
    margin: 0;
}

body {
    padding: 2.5vw;
    background-color: #372775;
    color: white;
}

header {
    display: flex;
    justify-content: flex-end;
    font-size: 1.7vw;
    align-items: center;
}

.sair {
    color:#3F92C5;
}

main {
    margin-top: 11vw;
    margin-bottom: 9vw;
    font-size: 4.5vw;
    text-align: center;
}

footer {
    font-size: 1.2vw;
    text-align: right;
    color: #888888;
}