* {
    font-family: 'Averia Libre', cursive;
    margin: 0;
}

body {
    padding: 2.5vw;
    background-color: #372775;
    color: white;
}

header {
    display: flex;
    justify-content: flex-end;
    font-size: 1.7vw;
    align-items: center;
}

.sair {
    color:#3F92C5;
}

main {
    text-align: center;
    font-size: 4.2vw;
    margin-top: 5.5vw;
}

.opcoes {
    margin-top: 4.3vw;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.box {
    display: flex;
    flex-direction: column;
    text-decoration: none;
    color: white;
    text-align: center;
}

#pessimo {
    font-size: 275%;
    color: #D71616;
}

#ruim {
    font-size: 275%;
    color: #FF360A;
}

#neutro {
    font-size: 275%;
    color: #FFC632;
}

#bom {
    font-size: 275%;
    color: #37BD6D;
}

#excelente {
    font-size: 275%;
    color: #25BC22;
}

@media (max-width: 500px) {
    .opcoes{
        display: flex;
        flex-direction: column;
        gap: 1vw;
    }
}