* {
    font-family: 'Averia Libre', cursive;
    margin: 0;
}

body {
    padding: 5vh;
    background-color: #372775;
    color: white;
}

header {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    font-size: 220%;
    align-items: center;
}

#logo {
    font-size: 70px;
}

.sair {
    color:#3F92C5;
}

main {
    text-align: center;
    font-size: 420%;
    margin-top: 12vh;
}

.opcoes {
    width: 100%;
    margin-top: 15vh;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.box {
    display: flex;
    flex-direction: column;
    text-decoration: none;
    color: white;
    text-align: center;
    font-size: 100%;
}

#pessimo {
    font-size: 275%;
    color: #D71616;
}

#ruim {
    font-size: 275%;
    color: #FF360A;
}

#neutro {
    font-size: 275%;
    color: #FFC632;
}

#bom {
    font-size: 275%;
    color: #37BD6D;
}

#excelente {
    font-size: 275%;
    color: #25BC22;
}

@media (max-width: 500px) {
    .opcoes{
        display: flex;
        flex-direction: column;
    }
}