* {
    font-family: 'Averia Libre', cursive;
  }
  
  body {
    margin: 0;
    padding-top: 20px;
    padding-left: 5%;
    padding-right: 5%;
    padding-bottom: 20px;
    background-color: #372775;
    color: white;
  }
  
  .head {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    font-size: 3vw;
    align-items: center;
    text-decoration: none;
    color: white;
  }
  
  #logo {
    font-size: 5vw;
  }
  
  .sair {
    color: #3F92C5;
  }
  
  .novapesquisa {
    background-color: #37BD6D;
    border-radius: 1vw;
    margin-right: 2.5vw;
    width: 10vw;
    height: 2.5vw;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3vw;
    text-decoration: none;
    color: white;
  }
  
  #pesquisa {
    margin-top: 5vw;
    padding-left: 1%;
    width: 99%;
    height: 2.5vw;
    font-size: 3vw;
    font-family: 'FontAwesome', 'Averia Libre', cursive;
  }
  
  .link {
    text-decoration: none;
  }
  
  article {
    width: 40vw;
    height: 37.5vw;
    background-color: white;
    border-radius: 1vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 4vw;
    margin-right: 6.5vw;
  }
  
  #main {
    margin-top: 12vw;
    display: flex;
    flex-direction: row;
    overflow: scroll;
    overflow-x: hidden;
  }
  
  #main:hover
  