* {
  font-family: 'Averia Libre', cursive;
}

body {
  margin: 0;
  padding:2.5vw;
  background-color: #372775;
  color: white;
}

header {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  text-decoration: none;
  color: white;
}

#logo {
  font-size: 4.5vw;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 5%;
  padding-left: 10%;
  padding-right: 10%;  
}

form {
  width: 48%;
  height: auto;
  display: flex;
  flex-direction: column;
  border: 0.2vw solid #737373;
  border-radius: 0.7vw;
  padding: 3.5%;
  font-size: 1.7vw;
}

.login {
  font-size: 2vw;
  text-align: center;
  margin-bottom: 2vw;
}

.field {
  height: 3vw;
  font-size: 1.7vw;
  margin-bottom: 2vw;
}

.form-invalido {
  font-size: 1.3vw;
  color: #FD7979;
  float: left;
  margin-top: 0.5vw;
}

.boton {
  display: flex;
  justify-content: flex-end;
  margin-top: 2.5vw;
}

.btcolor {
  width: 13vw;
  height: 4vw;
  border-radius: 0.7vw;
  background-color: #37BD6D;
  text-decoration: none;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.7vw;
}

