* {
  font-family: 'Averia Libre', cursive;
}

body {
  margin: 0;
  padding-top: 20px;
  padding-left: 50px;
  padding-right: 50px;
  padding-bottom: 20px;
  background-color: #372775;
  color: white;
}

header {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  text-decoration: none;
  color: white;
}

#logo {
  font-size: 70px;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 80px;
}

form {
  width: 40%;
  height: 530px;
  display: flex;
  flex-direction: column;
  border: 1px solid #737373;
  border-radius: 15px;
  padding-top: 57px;
  padding-right:50px;
  padding-left: 50px;
  padding-bottom: 60px;
  font-size: 35px
}

.tit{
  font-size: 40px;
  text-align: center;
  margin-bottom: 10px;
}

.subtit{
  font-size: 33px;
  text-align: center;
  margin-bottom: 80px;
}

.field {
  height: 55px;
  font-size: 35px;
  padding-left: 15px;
}

.form-invalido{
  font-size: 26px;
  color: #FD7979;
  margin-top: 3px;
}

.boton{
  display: flex;
  justify-content:flex-end;
  margin-top: 110px;
}

.btcolor{
  width: 220px;
  height: 60px;
  border-radius: 10px;
  background-color: #37BD6D;
  text-decoration: none;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 32px;
}