* {
  font-family: 'Averia Libre', cursive;
}

body {
  margin: 0;
  padding: 5%;
  background-color: #372775;
  color: white;
}

header {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  text-decoration: none;
  color: white;
}

#logo {
  font-size: 3vw;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 5%;
  padding:  5%;
}

form {
  width: 60%;
  height: auto;
  display: flex;
  flex-direction: column;
  border: 1px solid #737373;
  border-radius: 15px;
  padding: 5%;
  font-size: 2vw;
}

.tit {
  font-size: 3vw;
  text-align: center;
  margin-bottom: 2vw;

}

.subtit {
  font-size: 2vw;
  text-align: center;
  margin-bottom: 2vw;
}
.field {
  height: 5vw;
  font-size: 2vw;
}

.form-invalido {
  font-size: 2vw;
  color: #FD7979;
  margin-top: 3px;
  display: none;
}
.boton {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 5vw;
}

.btcolor {
  width: 20vw;
  height: 5vw;
  border-radius: 1vw;
  background-color: #37BD6D;
  text-decoration: none;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2vw;
}
